$text-color: #373737;

@font-face {
  font-family: 'Grtsk Giga';
  src: local('Grtsk Giga Regular'), local('GrtskGiga-Regular'),
      url('/fonts/GrtskGiga-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Grtsk Giga';
  src: local('Grtsk Giga Bold'), local('GrtskGiga-Bold'),
      url('/fonts/GrtskGiga-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  height: 100vh;
  width: 100vw;
}

body {
  background: #BEBEBE;
  font-size: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}




@mixin _1024 {
  @media (max-width: 1024px){
      @content;
  }
}

@mixin _768 {
  @media (max-width: 768px){
      @content;
  }
}

@mixin _440 {
  @media (max-width: 440px){
      @content;
  }
}